numpy
spdlog
flexivrdk
loguru
scipy
cffi
timm
peft
ipykernel
numcodecs
rpyutils
record3d
h5py
einops
tqdm
dill
scikit-video
scikit-image
pymunk
wandb
threadpoolctl
pyinstrument
shapely
cython
imageio
imageio-ffmpeg
tensorboard
tensorboardx
psutil
click
boto3
accelerate
datasets
diffusers
av
cmake
# trick to force reinstall imagecodecs via pip
imagecodecs
pygame
open3d
bson
hydra-core
matplotlib
transforms3d
fastapi
uvicorn
pyrealsense2
requests
opencv-python>=4.10.0.82
zarr
py_cli_interaction
omegaconf
numba
termcolor
# install this by yourself
# torch==2.7.1
# torchvision==0.22.1