numpy==1.26.4
numba
loguru
scipy
opencv-python
cffi
timm
peft
ipykernel
matplotlib
zarr
numcodecs
h5py
hydra-core
einops
tqdm
dill
scikit-video
scikit-image
pymunk
wandb
threadpoolctl
pyinstrument
shapely
cython
imageio
imageio-ffmpeg
termcolor
tensorboard
tensorboardx
psutil
click
boto3
accelerate
datasets
diffusers
av
cmake
# trick to force reinstall imagecodecs via pip
imagecodecs==2022.9.26
pygame
open3d
bson
numpy==1.26.4
hydra-core==1.2.0
matplotlib
tqdm
loguru
transforms3d
fastapi
uvicorn
pyrealsense2
requests
opencv-python>=4.10.0.82
zarr==2.12.0
py_cli_interaction
omegaconf
numba==0.60.0
termcolor
# install this by yourself
# torch==1.13.1
# torchvision==0.14.1